body {
    background-color: black;
    font-size: 1em;
    padding: 0px;
}

.container {
    display: block;
    margin: auto;
    width: 80%;
    height: 100%;
    max-width: 900px;
    margin: auto;
}

.encabezado {
    font-size: 18px;
    color: white;
    text-align: justify;
    padding-left: 10px;
    padding-right: 5px;
}

header {
    font-size: 2em;
}

.encabezado>h1 {
    color: white;
    font-size: 2em;
}

.main {
    margin: auto;
    padding: 5px;
    background-color: white;
    width: 100%;
    color: black;
    box-sizing: border-box;
}

h3 {
    margin-left: 30px;
    color: grey;
    margin: auto;
}

.contenido {
    margin: auto;
    display: flex;
    width: 70%;
}

.main .aside {
    font-size: 2em;
    color: black;
    height: 80;
    width: 60%;
}

.main img {
    width: 40%;
    height: 200px;
}

fieldset {
    color: white;
    padding: 0;
    background-color: white;
    display: block;
    border: none;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

fieldset legend {
    font-size: 20px;
    text-decoration: black;
    margin: auto;
    width: 100%;
    padding: 0px;
    color: grey;
    background-color: white;
}

form {
    margin: auto;
    display: block;
    color: black;
    width: 80%;
    background-color: white;
}

label {
    width: 80%;
    padding: 16px;
    border: none;
    display: block;
    color: black;
}

input {
    background-color: GREY;
    padding: 12;
    border: none;
    width: 80%;
}

textarea {
    background-color: grey;
    border: none;
    width: 80%;
}

button {
    color: white;
    border: none;
    margin: auto;
    padding: 20px;
    background-color: black;
    width: 20%;
}