body {
    margin: 0;
    padding: 0;
}

body.container {
    width: 70%;
    width: 30px;
}

.container ol li {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 10px 20px;
}

.container>ol>li:nth-child(2n + 1) {
    text-decoration-color: green;
    text-decoration-line: underline;
}

.container>ol>li:last-child {
    background-color: rgb(0, 60, 255);
}

.container>ol>li:nth-last-child(3) {
    font-size: 2em;
}

.contenido>ul>li:nth-last-child(3) {
    list-style: none;
}

.contenido ul li {
    list-style: lower-roman;
}