body {
    color: #000;
    background-color: white;
}

.container {
    width: 800px;
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(16, auto);
    width: 90%;
}

.container .header {
    font-size: 2em;
    background-color: blue;
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row: span 2;
}

.container .main {
    font-size: 2em;
    background-color: blueviolet;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row: 3/4;
}

.container .sidebar {
    background-color: cornsilk;
    grid-column-start: 4;
    grid-column-end: -1;
    grid-row: 4/14;
}

.container .content {
    padding: 0;
    display: grid;
    background-color: crimson;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 4/14;
}

.footer1 {
    background-color: chocolate;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row: 14/16;
}