body {
    margin: auto;
    padding: 0%;
    align-items: center;
    max-width: 800px;
    min-width: 400px;
    height: auto;
}

form {
    max-width: 800px;
    min-width: 400px;
    display: block;
}

fieldset {
    position: relative;
    max-width: 800px;
    min-width: 400px;
    width: 800px;
    height: 100%;
}

button {
    margin-left: 330px;
    color: white;
    margin-top: 10px;
    width: 100px;
    padding: 20px;
    background-color: black;
    border: none;
}

fieldset label {
    padding: 12px;
}

.usuario input {
    border: 2px solid red;
    width: 90%;
    display: block;
    padding: 12px;
}

.apellido input {
    border: 2px solid red;
    width: 90%;
    display: block;
    padding: 12px;
}

input {
    border: none;
    background-color: rgba(211, 219, 219, 0.842);
    padding: 10px;
    width: 90%;
    box-sizing: content-box;
}

fieldset label {
    display: inline-flex;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}